<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
            <a href="#" class="d-block">@User.Identity.Name.ToString()</a>
        </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-list-alt"></i>
                    <p>
                        Quản Lý Bài Đăng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/RoomCategory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh Mục Bài đăng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/RoomPost" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Bài Đăng</p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a href="/admin/Account" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý tài khoản
                        @* <span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/FAQ" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý liên hệ
                        @* <span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/Role" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Danh mục quyền
                        @* <span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
