
@{
    ViewBag.Title = "ThongBaoXacNhanEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ThongBaoXacNhanEmail</h2>
<a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser">XacNhan</a>
